/*
 *  Brought to you by Yago Estévez. https://twitter.com/yagoestevez
 */

//
//  VARIABLES.
//
$bg-color       : #4b5e6f;
$light-color    : #fefefe;
$dark-color     : #333333;
$key-color      : #ffcc00;
$warning-color  : #d22f00;