@import './variables';

#form-indicators {
  padding         : 10px 0;
  #label {
    flex          : 1;
    justify-self  : center;
  }
  #breadcrumbs-svg {
    width         : 110px;
    height        : 30px;
    margin        : 0;
    #breadcrumb-mark {
      fill        : lighten( $key-color, 10% );
      transition  : transform 300ms;
    }
    #breadcrumb-bg {
      fill        :  rgba( $light-color, .8 );
    }
  }
}

#container {
  position          : relative;
  width             : 500px;
  height            : 70px;
  overflow          : hidden;
  #form {
    position        : absolute;
    width           : 500px;
    height          : 70px;
    top             : 0;
    left            : 0;
    transition      : opacity 300ms; 
    input[type="text"], input[type="email"], input[type="number"], select, textarea {
      color         : $bg-color;
      font-size     : 1.5rem;
      text-align    : center;
      width         : 500px;
      height        : 70px;
      border        : none;
      background    : transparent;
      appearance    : none;
      outline       : none;
      padding       : 1rem;
      z-index       : 1;
      transition    : 300ms;
    }
    button[type="submit"] {
      position      : absolute;
      left          : -9000px;
      top           : 0px;
    }
    #TOS, #fav {
      color             : $bg-color;
      border            : none;
      font-size         : 1.5rem;
      height            : 70px;
      label {
        height          : 50px;
        width           : 150px;
        border-bottom   : 2px solid $bg-color;
        cursor          : pointer;
        transition      : 200ms;
      }
      input[type="radio"], input[type="checkbox"] {
        display         : none;
      }
      input[type="radio"]:hover ~ label,
      input[type="checkbox"]:hover ~ label {
        background      : $key-color;
        color           : $bg-color;
      }
      input[type="radio"]:checked ~ label,
      input[type="checkbox"]:checked ~ label {
        background      : $key-color;
        color           : $bg-color;
      }
    }
    #TOS {
      color             : $light-color;
      label {
        border-bottom   : 2px solid $light-color;
      }
    }
    
    label.hidden {
      position      : absolute;
      left          : -9000px;
      opacity       : 0;
      font-size     : .1px;
    }
  
    ::placeholder {
      color         : rgba( $bg-color, .4 );
      font-size     : 1.5rem;
      font-weight   : 100;
      text-align    : center;
      opacity       : 1;
    }
    
  }
  
  #input-bg {
    width           : 500px;
    height          : 70px;
    #input-shape {
      fill          : $light-color;
      transition    : 400ms;
    }
  }
}


