/*
 *  Brought to you by Yago Estévez. https://twitter.com/yagoestevez
 */
@import url( 'https://fonts.googleapis.com/css?family=Amaranth' );
@import url( 'https://use.fontawesome.com/releases/v5.1.0/css/all.css' );
@import './variables';
@import './helpers';
@import './forms';

*,
*::before,
*::after,
:root {
  box-sizing        : border-box;
  padding           : 0;
  margin            : 0;
  appearance        : none;
  outline           : none;
}

html, body {
  width             : 100%;
  height            : 100%;
}

body {
  background        : $bg-color;
  background        : url(./Image/headerBg.jpg);
  background-size   : cover;
  color             : $light-color;
  font-family       : 'Amaranth', sans-serif;
}

#main {
  background        : rgba( $bg-color, .9 );
  clip-path         : circle( 100% at 50% 50% );
  padding           : 0 20px;
  transition        : clip-path 500ms ease-out 500ms,
                      opacity 500ms ease-in-out,
                      visibility 500ms ease 500ms;
  &.shown {
    clip-path       : circle( 100% at 50% 50% );
  }
  &.hidden {
    clip-path       : circle( 0% at 50% 50% );
  }
  #header {
    padding         : 50px 0 15px 0;
    #title, #description {
      align-self    : center;
      margin        : 0;
    }
    #pretitle {
      margin        : 0;
      padding       : 0;
      line-height   : 10px;
    }
    #title {
      font-size     : 2rem;
      color         : $key-color;
    }
    #description {
      line-height   : 16px;
      font-size     : 1.2rem;
      text-align    : right;
    }
  }

  hr {
    border          : none;
    border-bottom   : 1px solid rgba( $light-color, .5 );
  }
  #next-btn {
    margin          : 2px 0 20px 0;
    height          : 70px;
    width           : 100%;
    padding         : 0 0 10px 0;
    background      : transparent;
    color           : $key-color;
    border          : none;
    font-size       : 1.5rem;
    cursor          : pointer;
    clip-path       : polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
    overflow        : hidden;
    transition      : 300ms;
    &:hover, &:active {
      background    : $key-color;
      clip-path     : polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
      color         : $bg-color;
    }
    &:hover:disabled, &active:disabled {
      background    : none;
      cursor        : default;
    }
    &[disabled], &:disabled {
      color         : rgba( $light-color, .5 );
    }
    &.submit {
      clip-path     : none;
      &:hover, &:active {
        clip-path   : none;
      }
    }
  }
}

#sent-display {
  position          : absolute;
  top               : 50%;
  left              : 50%;
  height            : 300px;
  width             : 300px;
  background        : rgba( $bg-color, .9 );
  color             : $key-color;
  border-radius     : 50%;
  transform         : translate( -50%,-50% );
  transition        : clip-path 500ms ease-out 1000ms,
                      opacity 500ms ease-in-out,
                      visibility 500ms ease 1000ms;
  &.hidden {
    clip-path       : circle( 0% at 50% 50% );
  }
  &.shown {
    clip-path       : circle( 100% at 50% 50% );
  }
  a, a:visited {
    color           : $light-color;
    text-decoration : none;
    transition      : color 300ms;
  }
  a:hover, a:active {
    color           : $key-color;
  }
}

#launcher {
  position          : absolute;
  top               : 50%;
  left              : 50%;
  height            : 400px;
  width             : 400px;
  text-align        : justify;
  padding           : 40px;
  background        : rgba( $light-color, .9 );
  color             : $key-color;
  transform         : translate( -50%,-50% );
  clip-path         : circle( 100% at 50% 50% );
  transition        : clip-path 500ms ease-out,
                      opacity 500ms ease-in-out,
                      visibility 500ms ease 500ms;
  &.hidden {
    clip-path       : circle( 0% at 50% 50% );
  }
  &.shown {
    clip-path       : circle( 100% at 50% 50% );
  }
  .main {
    color           : $bg-color;
    h2 {
      background    : $key-color;
      padding       : 5px;
      margin-left   : -5px;
      transform     : rotate(-2deg);
    }
    hr {
      padding       : 10px 0;
      border        : none;
      border-bottom : 1px solid rgba( $bg-color, .6 );
    }
    p {
      color         : $bg-color;
      font-size     : 18px; 
      padding       : 10px 0;
    }
    .em {
      font-weight   : bold;
      background    : $key-color;
      padding       : 5px;
      margin-left   : -5px;
    }
  }
  button {
    font-size       : 20px;
    border          : none;
    width           : 100%;
    padding         : 10px 15px;
    border-radius   : 5px;
    background      : $bg-color;
    color           : $key-color;
    cursor          : pointer;
    transition      : 300ms;
    &:hover, &:active {
      background    : $key-color;
      color         : $bg-color;
    }
  }
}
